@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@1,300&family=Sarala:wght@400;700&display=swap');

:root{
    --font-family: 'Roboto Mono', monosp;
    --bg-color: #009DAE;
    --priary-color: #71DFE7;
}
